language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  
before_install:
  - pip install six
  - pip install coveralls
  
install:
  - pip install -r requirements_dev.txt -U

script:
  - tox
  - coverage report
